:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --spacingvertical: 15vmin;
}

.centered {
    transform: translateY(20%);;
    position: relative;
    text-align: center;
}

#title {
    top: 20%;
    width: 100%;
    font-size: 5vw;
}

#para {
    position: relative;
    width: 100%;
    word-wrap: normal;
    font-size: 3vmax;
}

.button1 {
    position:relative;
    width: 20%;
    background: whitesmoke;
    height: 12vmax;
    border-radius: 3vmin;
    border: 0.5vmin solid dimgray;
    transform: translateY(150%);
    margin-bottom: 15vmin;
}

.button2 {
    position:relative;
    width: 20%;
    background: whitesmoke;
    height: 12vmax;
    border-radius: 3vmin;
    border: 0.5vmin solid dimgray;
    transform: translateY(150%);
    margin-bottom: 15vmin;
}

.col1 {
    transform: translateX(18%);
}
.col2 {
    transform: translate(62%);
}

#1 {

}

#break1 {
    position: relative;
    border: 0.3vmin solid whitesmoke;
    border-radius: 0.2vmin;
    transform: translateY(14vmax);
}

#buttonsection {
    position:relative;
    transform: translateY(2vmax)
}