html {
    color: whitesmoke;
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: "Rubik", sans-serif;
}

body {
    margin: 0;
    height: auto;
}



#bar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    width : calc(100vw * 25%);
    padding: 0;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
}


.navbar {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    height: 8vh;
    width: 100vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbartext {
    text-shadow:
            0 0 7px #fff;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    margin-top: 0;
    transition: all ease-in-out 0.33s;
}

.navbartext:hover {
    opacity: 0.5;
    margin-top: 4px;
    transition: all ease-in-out 0.33s;
}

.section {
    position: relative;
    top: 3em;
    font-size: 3em;
    text-align: center;
    text-shadow:
            0 0 7px #fff;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
}

.section.active{
    font-size: 3em;
    opacity: 1;
    transition: all linear 1s;
}

.section.active > .hozbreak {
    width: 60%;
    transition: all ease-in-out 1.4s;
}

.section > .hozbreak {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 0%;
    transition: all ease-in-out 1.4s;
}


#position {
    margin-top: 1000px;
}

#history {
    margin-top: 2000px;
}

#poem {
    margin-top: 500px;
}
