html {
    color: whitesmoke;
    margin: 0;
    height: 100%;
    width: 100%;

}

body {
    margin: 0;
    height: 100%;
}



#bar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    width : calc(100vw * 25%);
    padding: 0;
    align-items: center;
    z-index: 2;
}


.navbar {
    position: relative;
    background-color: black;
    cursor: pointer;
    height: 8vh;
    width: 100vw;
    border-bottom: 2px solid whitesmoke ;

}

.navbartext {
    text-shadow:
            0 0 7px #fff;
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s;
}

.navbartext:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.section {
    position: relative;
    top: 3em;
    font-size: 3em;
    text-align: center;
    text-shadow:
            0 0 7px #fff;
    z-index: 1;
}

.forzindexlol {
    position: relative;
    z-index: 1;
}

#history {
    margin-top: 500px;
}

#poem {
    margin-top: 500px;
}
